/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin:  0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {vertical-align: middle;}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {resize: vertical;}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
  font-family: 'Chalga Reg';
  src: url('fonts/ChalgaRegular-new/Chalga-Regular.woff');
}
@font-face {
  font-family: 'Sambo Reg';
  src: url('fonts/Sambo-Regular.otf');
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: 0;
    font-size: 2em;
    line-height: 1.1em;
    width: 100vw;
}

.wrapper {
    width: 100%;
    margin: 0;
}



/* ===================
    ALL: Orange Theme
   =================== */

/* ==============
    MOBILE: Basics
   ============== */
  body{
    font-size: 2em;
    line-height: 1.1em;
  }

  .stickyBar{
    position: fixed;
    z-index: 500;
  }

  .topper{top:0;}

  .hidden{visibility: hidden;}

  .bottomer{bottom:0;}

  br{margin: 0;}
  div p {margin: 1.5% 3% 1.5% 3%;}

  a:visited{color: black;}



/* ==============
    Basics ALL
   ============== */
    a {
        color: blue !important;
        text-decoration: none;
    }
    a:hover {border-bottom: 2px solid blue;}






    /*   CINEMA   */

    .blueBanner {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: calc(10px + 35px);

        background: blue;
        z-index: 9999999;
        cursor: pointer;

        font-family:
           'Chalga Reg',
           serif;
        color: blue;

        transition: 0.5s !important;
    }
    .blueBanner a {color: white !important;}
    .blueBanner a:hover {
        border-bottom: 2px solid white;
        margin-bottom: 20px;
    }

    .click-to-open {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 90%;
        height: 100%;
        float: center;
        text-align: center;
        color: white !important;
        z-index: 99999;
        cursor: pointer;
    }
    .fullscreen {height: 100%; cursor: auto; overflow-y: scroll; -webkit-overflow-scrolling: touch;}

    .marquee {
      position: absolute;
      top: 5px;
      color: white !important;
      z-index: 1;
      width: auto;
      margin: 0 auto;
      overflow: hidden;
      white-space: nowrap;
      height: 100%;
    }
    .marquee span {
      position: relative;
      display: flex;
      height: 30px;
      left: 100vw;
      width: fit-content;
      animation: marquee linear infinite;
      animation-duration: 50s;
    }
    @keyframes marquee {
      0%   { left: 100vw; }
      100% { left: -100%; }
    }
    .marquee a:hover {
      border-bottom: none;
      text-decoration: underline;
    }


    .textInBannerCenterClose, .textInBannerRight, .support-us {color: white !important;}
    .textInBannerCenterClose {
        position: fixed;
        top: 5px;
        padding-right: 15px;
        right: 0px;
        left: 0px;
        text-align: right;
        z-index: 9999999999999;
        display: none;
        cursor: pointer;
    }


    .textInBannerRight {
        position: absolute;
        padding-top: 5px;
        top: 0px;
        right: 0px;
        padding-right: 20px;
        left: auto;
        padding-left: 20px;
        padding-bottom: 5px;
        text-align: right;
        background-color: blue;

        z-index: 999;
    }
    .support-us {
        position: fixed;
        bottom: 0px;
        background-color: blue;
        /*height: 40px;*/
        right: 0px;
        left: 0px;
        margin-bottom: 0px;
        text-align: center;
        cursor: pointer;
        z-index: 9999;
    }


    .smallerFont {
      font-size: 0.69em;
      line-height: 1.2em;
      font-family:
        'Chalga Reg',
        serif;
    }

    .wrapper-cinema-schedule {
      display: none;
    }
    .iframeLivestream-mobile {
      position: relative;
      margin-left: 10px;
      width: calc(100vw - 20px);
      height: calc((100vw - 20px) * 0.6097);
    }
    

    /*.support-us:after {
        content: 'support us';
        position: absolute;
        bottom: 5px;
        right: 0px;
        width: 100%;
        text-align: center;
    }
    .support-us:hover:after {content: 'link coming!';}*/

    a.support-us:hover {
        text-decoration: none;
        border-bottom: 2px solid white;
        margin-bottom: 20px;
    }
    .blueScreenOpen {display: none; color: white;}

    /*  TYPEWRITER  */

        /* CHANGE THE TYPEFACE FOR TIME-RELATED WORDS */
          .timeClass{
            font-family: 'Sambo Reg', serif;
            font-size: 1.18em;
            color: white !important;
            line-height: 0em;
          }

          .whiteSpace{letter-spacing: 1.2em;}

         .textTypewriter {
            position: absolute;
            text-align: left;
            left: 0px;
            right: 15px;
            /*top: 60vh;*/
            overflow-y: scroll;
            text-transform: lowercase;
        }



      .showOverview:hover, .hideOverview:hover {
          border-bottom: 2px solid blue;
          margin-bottom: 20px;
          cursor: pointer;
      }
      .hideOverview {
          z-index: 999999;
          display: none;
      }


      /*     OVERVIEW     */

          .usAll {
              position: fixed;
              z-index: 9999;
              top: 45px;
              left: 0px;
              right: 0px;
              width: 100vw;
              height: calc(100vh - (45px * 2));
              overflow-y: scroll; 
              -webkit-overflow-scrolling: touch;


              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: stretch;
              align-content: stretch;
          }

          .hide {display: none;}

          .person {
              position: relative;
              display: inline-block;
              top: 0px;
              left: 0px;
              width: 45%;
              height: 45vh;

              flex-grow: 1;
              flex: flex-grow;
              
              flex-basis: auto;
              align-self: stretch;

              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              margin: 0px;
              padding: 0px;

              border: 2px solid rgba(255,255,255,1);
              cursor: pointer;
          }

          .person:hover {border: 2px solid blue;}
          .person-one:after,
          .person-two:after,
          .person-three:after,
          .person-four:after,
          .person-five:after,
          .person-six:after,
          .person-seven:after,
          .person-eight:after,
          .person-nine:after,
          .person-ten:after,
          .person-eleven:after,
          .person-twelve:after,
          .person-thirteen:after,
          .person-fourteen:after,
          .person-fifteen:after,
          .person-sixteen:after,
          .person-seventeen:after,
          .person-eighteen:after,
          .person-nineteen:after,
          .person-twenty:after,
          .person-twentyone:after,
          .person-twentytwo:after,
          .person-twentythree:after,
          .person-twentyfour:after,
          .person-twentyfive:after,
          .person-twentysix:after,
          .person-twentyseven:after,
          .person-twentyeight:after,
          .person-twentynine:after,
          .person-thirty:after,
          .person-thirtyone:after,
          .person-thirtytwo:after,
          .person-thirtythree:after,
          .person-thirtyfour:after,
          .person-thirtyfive:after,
          .person-thirtysix:after,
          .person-thirtyseven:after,
          .person-thirtyeight:after,
          .person-thirtynine:after,
          .person-fourty:after {
            background-color: blue;
            color: white;
            position: absolute;
            bottom: 0%;
            left: 0%;
            text-align: center;
            width: 100%;


          }
          /*.person-one:before {
            background-color: blue;
            color: white;
            position: absolute;
            top: 0%;
            left: 0%;
            text-align: center;
            width: 100%;

            font-size: 0.49em;
            line-height: 1.1em;
            font-family:
              'Chalga Reg',
              serif;
          }
          .person-one:before {content: 'laud softness: the art of gentle protest';}*/
          .person-one:after, .person-one:hover:after {content: 'anastasia umpeleva';}
          .person-one {background-image: url(imgs/anastasia/thumbnail.jpg);}
          /*.person-two:before {content: 'domestic tales — odes to triviality';}*/
          .person-two:after, .person-two:hover:after {content: 'anna moschioni';}
          .person-two {background-image: url(imgs/anna/thumbnail.jpg);}
          /*.person-three:before {content: 'now and then';}*/
          .person-three:after, .person-three:hover:after {content: 'berglind jóhannsdóttir';}
          .person-three {background-image: url(imgs/berglind/thumbnail2.png);}
          /*.person-four:before {content: 'things and what we make of them';}*/
          .person-four:after, .person-four:hover:after {content: 'brechje krah';}
          .person-four {background-image: url(imgs/brechje/thumbnail.jpg);}
          /*.person-five:before {content: 'hypnosis of the stolen painting';}*/
          .person-five:after, .person-five:hover:after {content: 'clara lezla';}
          .person-five {background-image: url(imgs/clara/thumbnail.jpg);}
          .person-six:after, .person-six:hover:after {content: 'dana doorenbos';}
          .person-six {background-image: url(imgs/dana/thumbnail.jpg);}
          .person-seven:after, .person-seven:hover:after {content: 'denise jansen';}
          .person-seven {background-image: url(imgs/denise/thumbnail.jpg);}
          .person-eight:after, .person-eight:hover:after {content: 'edward dżułaj';}
          .person-eight {background-image: url(imgs/edward/thumbnail.jpg);}
          .person-nine:after, .person-nine:hover:after {content: 'emily anderson';}
          .person-nine {background-image: url(imgs/emily/thumbnail.jpg);}
          .person-ten:after, .person-ten:hover:after {content: 'fien leeflang';}
          .person-ten {background-image: url(imgs/fien/thumbnail.jpg);}
          .person-eleven:after, .person-eleven:hover:after {content: 'golshan azadokht';}
          .person-eleven {background-image: url(imgs/golshan/thumbnail.jpg);}
          .person-twelve:after, .person-twelve:hover:after {content: 'hyeonjeong kim';}
          .person-twelve {background-image: url(imgs/kihyeon/thumbnail.jpg);}
          .person-thirteen:after, .person-thirteen:hover:after {content: 'kiki coster';}
          .person-thirteen {background-image: url(imgs/kiki/thumbnail.jpg);}
          .person-fourteen:after, .person-fourteen:hover:after {content: 'laura brouwer';}
          .person-fourteen {background-image: url(imgs/laura/thumbnail.jpg);}
          .person-fifteen:after, .person-fifteen:hover:after {content: 'linda van houtum';}
          .person-fifteen {background-image: url(imgs/linda/thumbnail.jpg);}
          .person-sixteen:after, .person-sixteen:hover:after {content: 'louana gentner';}
          .person-sixteen {background-image: url(imgs/louana/thumbnail.png);}
          .person-seventeen:after, .person-seventeen:hover:after {content: 'maarten meij';}
          .person-seventeen {background-image: url(imgs/maarten/small.jpg);}
          .person-eighteen:after, .person-eighteen:hover:after {content: 'marc van den berg';}
          .person-eighteen {background-image: url(imgs/marc/thumbnail.jpg);}
          .person-nineteen:after, .person-nineteen:hover:after {content: 'marina sophia de jong yantorno';}
          .person-nineteen {background-image: url(imgs/sophia/thumbnail.jpg);}
          .person-twenty:after, .person-twenty:hover:after {content: 'martijn brakenhoff';}
          .person-twenty {background-image: url(imgs/martijn/thumbnail.jpg);}
          .person-twentyone:after, .person-twentyone:hover:after {content: 'martin menso jensen';}
          .person-twentyone {background-image: url(imgs/martin/thumbnail.jpg);}
          .person-twentytwo:after, .person-twentytwo:hover:after {content: 'nedislav kamburov';}
          .person-twentytwo {background-image: url(imgs/ned/thumbnail.jpg);}
          .person-twentythree:after, .person-twentythree:hover:after {content: 'nicolai schmelling';}
          .person-twentythree {background-image: url(imgs/nicolai/thumbnail.jpg);}
          .person-twentyfour:after, .person-twentyfour:hover:after {content: 'nicoletta radice';}
          .person-twentyfour {background-image: url(imgs/nicoletta/thumbnail.jpg);}
          .person-twentyfive:after, .person-twentyfive:hover:after {content: 'pepijn de jonge';}
          .person-twentyfive {background-image: url(imgs/pepjin/thumbnail.jpg);}
          .person-twentysix:after, .person-twentysix:hover:after {content: 'ruben visser';}
          .person-twentysix {background-image: url(imgs/ruben/thumbnail.jpg);}
          .person-twentyseven:after, .person-twentyseven:hover:after {content: 'selina landis';}
          .person-twentyseven {background-image: url(imgs/selina/thumbnail.png);}
          .person-twentyeight:after, .person-twentyeight:hover:after {content: 'seojeong youn';}
          .person-twentyeight {background-image: url(imgs/seojeong/thumbnail.jpg);}
          .person-twentynine:after, .person-twentynine:hover:after {content: 'tilius sodeika';}
          .person-twentynine {background-image: url(imgs/tilius/thumbnail.jpg);}
          .person-thirty:after, .person-thirty:hover:after {content: 'trang hà';}
          .person-thirty {background-image: url(imgs/trang/thumbnail.jpg);}
          .person-thirtyone:after, .person-thirtyone:hover:after {content: 'yessica deira';}
          .person-thirtyone {background-image: url(imgs/yessica/thumbnail.jpg);}
          .person-thirtytwo:after, .person-thirtytwo:hover:after {content: 'zahari dimitrov';}
          .person-thirtytwo {background-image: url(imgs/zahari/thumbnail.jpg);}
          .person-thirtythree:after, .person-thirtythree:hover:after {content: 'Zuzanna Zgierska';}
          .person-thirtythree {background-image: url(imgs/zuzanna/thumbnail.jpg);}

          .person-thirtyfour:after, .person-thirtyfour:hover:after {content: 'claude nassar';}
          .person-thirtyfour {background-image: url(imgs/claude/thumbnail.jpg);}
          .person-thirtyfive:after, .person-thirtyfive:hover:after {content: 'cristina lavosi';}
          .person-thirtyfive {background-image: url(imgs/cristina/thumbnail.jpg);}
          .person-thirtysix:after, .person-thirtysix:hover:after {content: 'cyan bae';}
          .person-thirtysix {background-image: url(imgs/cyan/thumbnail.jpg);}
          .person-thirtyseven:after, .person-thirtyseven:hover:after {content: 'giulia faccin';}
          .person-thirtyseven {background-image: url(imgs/guilia/thumbnail.jpg);}
          .person-thirtyeight:after, .person-thirtyeight:hover:after {content: 'kert viiart';}
          .person-thirtyeight {background-image: url(imgs/kert/thumbnail.jpg);}
          .person-thirtynine:after, .person-thirtynine:hover:after {content: 'lila steinkampf';}
          .person-thirtynine {background-image: url(imgs/lila/thumbnail.jpg);}
          .person-fourty:after, .person-fourty:hover:after {content: 'mauro tosarelli';}
          .person-fourty {background-image: url(imgs/mauro/thumbnail.jpg);}




          .nameBlock a:hover {border: none;}
          .nameBlock:hover {} 



          .abstract-popup {
            color: white !important;
            background-color: blue;

            font-family:
               'Chalga Reg',
               serif;
            color: blue;
          }
          .abstract-popup a {
            color: white !important;
          }
          .abstract-popup a:hover {
            border-bottom: 2px solid white;
          }




/* ==============
    MOBILE: Main
   ============== */

   /* For mobile phones: */

   .logoImg {
     width: 90%;
     float: right;
     margin: 5%;
     margin-top: 2%;
     transition: 0.3s;
     z-index: 10000;
   }

    .spin2 {transform: rotate(0deg);}
    .spin3 {transform: rotate(-90deg);}
    .spin4 {transform: rotate(-270deg);}
    .spin5 {transform: rotate(-360deg);}
    .spin6 {transform: rotate(-450deg);}
    .spin7 {transform: rotate(-540deg);}
    .spin8 {transform: rotate(-630deg);}
    .spin9 {transform: rotate(-720deg);}
    .spin10 {transform: rotate(-810deg);}
    .spin11 {transform: rotate(-900deg);}

    .spin12 {transform: rotate(-990deg);}
    .spin13 {transform: rotate(-1080deg);}
    .spin14 {transform: rotate(-1170deg);}
    .spin15 {transform: rotate(-1260deg);}
    .spin16 {transform: rotate(-1350deg);}
    .spin17 {transform: rotate(-1440deg);}
    .spin18 {transform: rotate(-1530deg);}
    .spin19 {transform: rotate(-1620deg);}
    .spin20 {transform: rotate(-1710deg);}
    .spin21 {transform: rotate(-1800deg);}
    .spin22 {transform: rotate(-1890deg);}
    .spin23 {transform: rotate(-1980deg);}


   .menuBar{
     background-color: white;
     text-align: right;
     font-family:
       'Sambo Reg',
       monospace;
     color: blue;
   }

   .introTxt{
     text-align: left;
     font-family:
       'Chalga Reg',
       serif;
     color: blue;
   }

   .introTxt p{ margin: 10% 5% 0 5%; }

   .headline{
     width: 100%;
     background-color: blue;
     text-align: left;
     font-family:
       'Chalga Reg',
       serif;
     color: white;
   }

   .expand{
     z-index: 9999;
     height:100%;
   }

   .disablePointer{ pointer-events: none; }

   .noColor { color: transparent; }


          #overviewButton{
            font-family: 'Chalga Reg', sans-serif;
            float: left;
            cursor: pointer;
          }

          #infoButton{
            float: left;
            background-color: none;
            cursor: pointer;
          }
          #contact{
            color: white;
            /* float: left; */
            text-decoration: none;
          }
          #ig{
            color: white;
            text-decoration: none;
            /* float: right; */
          }

    .contactBar{
      background-color: transparent;
      z-index: 100000;
      width: 100%;
      font-family:
        'Chalga Reg',
        serif;
      color: white;
      /* bottom: 0; */
    }

    .floatLeft{ float: left; }

    .floatRight{ float: right; }

   .main-container{ margin-top: 10%;}
   /*.main {width: 100vw !important;}*/



   /*   NAME BLOCK   */

    .nameColumn{
     float: right;
     width: 100vw;
     background-color: white;
     color: white;
     margin: 5% 0% 0% 0%;
   }
       .nameBlock{
         /*height: 15em;*/
         height: auto;
         background-color: white;
         display: inline-block;
         margin: 15% 0% 0% 0%;
         font-family:
           'Chalga Reg',
           serif;
         color: blue;
         text-align: left;
       }

    .nameBlock img{
      max-width: 100%;
      max-height: 100%;
      margin: 0.5% 0 0 0%;
    }

        .marginProjectSpacing{ margin-top: 10%; }

    .projectTitle{
      font-size: 0.49em;
      line-height: 1.1em;
      font-family:
        'Chalga Reg',
        serif;
    }

    .nameArtist{
      text-align: left;
    }

        .lastItem{ margin-top: 10%; }

        .samboSpan{
          font-size: 1.18em;
          font-family:
            'Sambo Reg',
            serif;
        }

        .footer-container{ width: auto; }

/* ===============
    ALL: IE Fixes
   =============== */

/* .ie7 .title {
    padding-top: 20px;
} */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ===============
    Difference in mobile and desktop
   =============== */

    .desktop {display: none;}
    .mobile {display: inline;}
    .info-wrapper {display: none;}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    /* nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
} */

/* FROM */
/* @media only screen and (min-width: 768px)  */
/* TO  */


@media only screen and (min-width: 1025px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/* ============
    WIDE: Menu
   ============ */
   /* For desktop: */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}


   .header-container {position: relative;}
   .main-container {position: relative;}


   /*     TEXT     */
      a {
          color: blue;
          text-decoration: none;
      }
      a:hover {border-bottom: 2px solid blue;}



      .introTxt{
         text-align: left;
         font-family:
           'Chalga Reg',
           serif;
         color: blue;

         top: 18vh;
         position: relative;
       }

       .introTxt p{
          margin: 5% 3% 0 3%;
       }

       .larger-text {
          font-size: 6.8vw;
          line-height: 1.1em;
       }

       .info-wrapper {
          height: 200px;
          height: auto;
          min-height: 100px;
          width: 45%;
          margin: 25vh 5% 23vh 5%;

          display: block;
       }

       .intro-box {
          margin-bottom: 25vh;
          float: left;
          left: 0px;
       }
       .first-box {width: 100%;}
       .second-box {width: 50%;}
       .third-box, .fourth-box {width: 25%;}

       .ba-nln-intro-text {
          top: 0px;
          height: 50vh;
          /*background-color: yellow;*/
          margin-top: 0%;
       }



   /*    Menu top bars   */

      .text-menu-top {
          position: fixed;
          top: 20px;
          z-index: 11;
          z-index: 501;
      }

      .right-side {right: 20px;}
      .left-side {left: 20px;}


      .overviewButton:hover {
          font-family: Sambo;
          font-size: 25px;
          /*border-bottom: 2px solid blue;
          margin-bottom: 20px;*/
          cursor: pointer;
      }
      .overviewButton-hide {
          z-index: 999999;
          display: none;
      }



      /*     OVERVIEW     */

          .usAll {
              position: relative;
              position: fixed;
              z-index: 9999;
              top: 20px;
              top: calc(30px + 27px + 20px);
              left: 20px;
              right: 20px;
              width: calc(100vw - 40px);
              height: calc(100vh - ((30px + 27px + 20px) * 2));


              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: stretch;
              align-content: stretch;
          }

          .hide {display: none;}

          .person {
              position: relative;
              display: inline-block;
              top: 0px;
              left: 0px;
              width: 12%;
              height: auto;

              flex-grow: 1;
              flex: flex-grow;
              
              flex-basis: auto;
              align-self: stretch;

              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              margin: 0px;
              padding: 0px;

              border: 2px solid rgba(0,0,0,0);
              cursor: pointer;
          }

          .person:hover {border: 2px solid blue;}
          .person-one:hover:after,
          .person-two:hover:after,
          .person-three:hover:after,
          .person-four:hover:after,
          .person-five:hover:after,
          .person-six:hover:after,
          .person-seven:hover:after,
          .person-eight:hover:after,
          .person-nine:hover:after,
          .person-ten:hover:after,
          .person-eleven:hover:after,
          .person-twelve:hover:after,
          .person-thirteen:hover:after,
          .person-fourteen:hover:after,
          .person-fifteen:hover:after,
          .person-sixteen:hover:after,
          .person-seventeen:hover:after,
          .person-eighteen:hover:after,
          .person-nineteen:hover:after,
          .person-twenty:hover:after,
          .person-twentyone:hover:after,
          .person-twentytwo:hover:after,
          .person-twentythree:hover:after,
          .person-twentyfour:hover:after,
          .person-twentyfive:hover:after,
          .person-twentysix:hover:after,
          .person-twentyseven:hover:after,
          .person-twentyeight:hover:after,
          .person-twentynine:hover:after,
          .person-thirty:hover:after,
          .person-thirtyone:hover:after,
          .person-thirtytwo:hover:after,
          .person-thirtythree:hover:after,
          .person-thirtyfour:hover:after,
          .person-thirtyfive:hover:after,
          .person-thirtysix:hover:after,
          .person-thirtyseven:hover:after,
          .person-thirtyeight:hover:after,
          .person-thirtynine:hover:after,
          .person-fourty:hover:after {
            background-color: blue;
            color: white;
            position: absolute;
            bottom: 0%;
            left: 0%;
            text-align: center;
            width: 100%;
          }
          .person-one:after,
          .person-two:after,
          .person-three:after,
          .person-four:after,
          .person-five:after,
          .person-six:after,
          .person-seven:after,
          .person-eight:after,
          .person-nine:after,
          .person-ten:after,
          .person-eleven:after,
          .person-twelve:after,
          .person-thirteen:after,
          .person-fourteen:after,
          .person-fifteen:after,
          .person-sixteen:after,
          .person-seventeen:after,
          .person-eighteen:after,
          .person-nineteen:after,
          .person-twenty:after,
          .person-twentyone:after,
          .person-twentytwo:after,
          .person-twentythree:after,
          .person-twentyfour:after,
          .person-twentyfive:after,
          .person-twentysix:after,
          .person-twentyseven:after,
          .person-twentyeight:after,
          .person-twentynine:after,
          .person-thirty:after,
          .person-thirtyone:after,
          .person-thirtytwo:after,
          .person-thirtythree:after,
          .person-thirtyfour:after,
          .person-thirtyfive:after,
          .person-thirtysix:after,
          .person-thirtyseven:after,
          .person-thirtyeight:after,
          .person-thirtynine:after,
          .person-fourty:after {
            content: '';
          }


      .menuBar{background-color: rgba(0,0,0,0);}
      .topper{top:20px;}
      div p {margin: 0px 20px 0px 20px;}

       .logo-desktop {
            position: fixed;
            top: calc(20px + 5vh + 10vh);
            right: calc(20px + 5vw);
            /*height: 30vh; */
            width: calc(44vw - 40px);
            height: auto;
            height: 60vh;
            width: auto;
            z-index: 2;
            z-index: 11;

            animation: spin;
            transition-timing-function: ease-in-out;
            animation-duration: 20s;
            animation-iteration-count: infinite;

            transform: rotate(0deg);

            transition: 1s !important;
        }
        @keyframes spin {
          0% {transform: rotate(0deg);}
          15% {transform: rotate(0deg);}
          25% {transform: rotate(-90deg);}
          35% {transform: rotate(-90deg);}
          50% {transform: rotate(-180deg);}
          60% {transform: rotate(-180deg);}
          70% {transform: rotate(-270deg);}
          90% {transform: rotate(-270deg);}
          100% {transform: rotate(-360deg);}
        }

        .smaller {
            height: 30vh;
            width: auto;

            bottom: calc(50vh - 15vh + 40px);
            top: auto;
            right: 20px;
        }

        .spin2 {
            transform: rotate(0deg);
            animation: none;
        }

        .spin3 {transform: rotate(-90deg);}
        .spin4 {transform: rotate(-180deg);}
        .spin5 {transform: rotate(-270deg);}
        .spin6 {transform: rotate(-360deg);}
        .spin7 {transform: rotate(-450deg);}
        .spin8 {transform: rotate(-540deg);}
        .spin9 {transform: rotate(-630deg);}
        .spin10 {transform: rotate(-720deg);}
        .spin11 {transform: rotate(-810deg);}



    /*   CINEMA   */

    .marquee span {animation-duration: 20s;}

    .textInBannerRight, .support-us {
        position: absolute;
        color: white !important;
    }
    .textInBannerRight {
        padding-top: 5px;
        top: 0px;
        right: 0px;
        padding-right: 20px;
        left: auto;
        padding-left: 20px;
        padding-bottom: 5px;
        text-align: right;
        background-color: blue;
        z-index: 999;
    }
    /*.support-us {
        content: 'hello';
        color: rgba(0,0,0,.5);
        top: auto;
        bottom: 15px;
        right: 15px;
        left: 80%;
        margin-bottom: 0px;
        text-align: right;
        cursor: pointer;
    }
    .support-us:after {
        content: 'support us';
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        text-align: right;
    }
    .support-us:hover:after {content: 'link coming';}*/


    .support-us-new:after {
        content: 'support us';
        cursor: pointer;
    }
    /*.support-us-new:hover:after {content: 'link coming';}*/



    .wrapper-cinema-schedule {
      display: inline-block;
      position: relative;
      width: calc(100% - 40px);
      margin-left: 20px;
      min-height: 200%;
      height: auto;

      font-size: 0.69em;
      line-height: 1.2em;
      font-family:
        'Chalga Reg',
        serif;
    }
    .wrapper-cinema-schedule:after {
      content: "";
      position: absolute;
      bottom: 1px;
      width: 100%;
      height: 1px;
      background-color: white;
    }
    .left-column {
      position: absolute;
      width: 25%;
      left: 0px;
      top: 0px;
      height: 100%;

    }
    .right-column {
      position: absolute;
      width: 75%;
      right: 0px;
      top: 0px;
      height: auto;

      display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: stretch;
              align-content: stretch;
    }
    .right-column-lower {
      position: absolute;
      width: 75%;
      right: 0px;
      top: 20vh;
      height: auto;

      display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: stretch;
              align-content: stretch;
    }
    .full-width {
      position: relative;
      width: 100%;
      right: 0px;
      top: 125vh;
      height: auto;

      display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: stretch;
              align-content: stretch;
    }
    .livestream-column {
      position: relative !important;
      display: inline-block;
      margin: 0;

      position: relative;
              display: inline-block;
              top: 0px;
              left: 0px;
              width: 100%;

              flex-grow: 1;
              flex: flex-grow;
              
              flex-basis: auto;
              align-self: stretch;
    }
    .cinema-schedule-item-small {
      position: relative !important;
      display: inline-block;
      margin: 0;

      position: relative;
              display: inline-block;
              top: 0px;
              left: 0px;
              width: 33%;

              flex-grow: 1;
              flex: flex-grow;
              
              flex-basis: auto;
              align-self: stretch;
    }
    .cinema-schedule-item-larger {
      position: relative !important;
      display: inline-block;
      margin: 0;

      position: relative;
              display: inline-block;
              top: 0px;
              left: 0px;
              width: 66%;

              flex-grow: 2;
              flex: flex-grow;
              
              flex-basis: auto;
              align-self: stretch;
    }
    .transp {color: rgba(0,0,0,0) !important;}

    .iframeLivestream {
      position: relative;
      padding-left: 20px;
      width: calc((100vw - 60px) * 0.75);
      height: calc(((100vw - 60px) * 0.75) * 0.6097);
    }
    /*  TYPEWRITER  */

        /* CHANGE THE TYPEFACE FOR TIME-RELATED WORDS */
          .timeClass{
            font-family: 'Sambo Reg', serif;
            font-size: 1.18em;
            color: white !important;
            line-height: 0em;
          }

          .whiteSpace{letter-spacing: 1.2em;}

         .textTypewriter {
            position: absolute;
            text-align: left;
            left: 0%;
            right: 15px;
            top: 0px;
            bottom: 0px;
            overflow-y: scroll;
            background-color: blue;

            text-transform: lowercase;
        }


    /*   NAME BLOCK   */

    .nameColumn{
      float: right;
      width: 60%;
      background-color: white;
      color: white;
      margin: 10% 15% 0% 0%;
      /* overflow: hidden; */
    }
        .nameBlock{
          height: 15em;
          background-color: white;
          display: inline-block;
          font-family:
            'Chalga Reg',
            serif;
          color: blue;
          text-align: left;
        }

     article:last-child{ margin-bottom: 10%; }
     .nameBlock img, video{
       height: 100%;
       margin: 0.8% 0 0 0%;
     }

     .top-margin-block{
       margin-top: 12%;
     }

     .projectTitle{
       font-size: 0.49em;
       line-height: 1.1em;
       font-family:
         'Chalga Reg',
         serif;
     }

     .nameArtist{
       text-align: left;
     }

         .lastItem{ margin-top: 10%; }

         .samboSpan{
           font-size: 1.18em;
           font-family:
             'Sambo Reg',
             serif;
         }

         .footer-container{ width: auto; }


/* ============
    WIDE: Main
   ============ */


/* ===============
    Difference in mobile and desktop
   =============== */

    .desktop {display: inline;}
    .mobile {display: none;}




@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
