div {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@font-face {
    font-family: Chalga;
    src: url(ChalgaTypewriter-Regular.otf);
}
@font-face {
    font-family: Sambo;
    src: url(Sambo-Regular.otf);
}

body {background-color: rgb(250,250,250); overflow-x: hidden;}




/*     BASICS     */

    .absolute {position: absolute;}
    .fixed {position: fixed;}

    .text {font: 16px Chalga;}
    .italic {font-style: italic; font-size: 20px;}
    .pureitalic {font-style: italic;}

    .top {top: 20px !important; margin-top: 0% !important;}
    .left {left: 20px;}
    .right {right: 20px; text-align: right;}

    .center {width: calc(50vw - 40px); text-align: center; left: calc(25vw + 20px);}

    .top20 {top: 20vh;}
    .top50 {top: 50vh;}
    .bottom {bottom: 20px;}
    .bottom11 {bottom: 11vh;}
    .bottom15 {bottom: 15vh;}
    .bottom5020 {bottom: calc(80vh + 20px);}

    section {-webkit-overflow-scrolling: touch;}




/*     CLASSLIST     */

    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }





/* FUNDRAISER  */
     .introFund {
        position: absolute;
        top: 0vh;
        width: 100vw;
        left: 0vw;
        z-index: 3;
    }
    .covertitleFund {
        position: fixed;
        font: 80px Chalga;
        left: 12px;
        bottom: 0px;
        line-height: 95px;
        text-transform: uppercase;
        z-index: 2;
    }

    .fundraiserVid {
        position: relative;
        margin-top: calc(30vh + 45px);
        left: 20px;
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
    }

    .textDescription {
        position: relative;
        margin-top: 10%;
        width: calc(100vw - 40px);
        margin-bottom: 20%;
        text-align: left;

        font: 20px Chalga;
        line-height: 27px;

        -webkit-overflow-scrolling: touch;
    }
    .textDescriptionBottom {
        position: relative;
        bottom: 20px; 
        right: 20px; 
        left: auto !important; 
        top: auto !important; 
        text-align: right; 
        float: right; 
        margin-bottom: 0px !important;
        margin-top: 5vh;
        line-height: 23px;
        /*font-family: Sambo;
        font-size: 30px;
        line-height: 32px;*/

        font: 20px Chalga;
        line-height: 27px;
    }
    .numbers {
        font-family: Sambo;
        font-size: 23px;
        line-height: 23px;
    }
    .Sambo {
        font-family: Sambo;
        font-size: 28px;
    }
    .onlyDesktop {display: inline;}
    .onlyMobile {display: none;}


    .logo {
        position: fixed;
        top: 20px;
        right: 20px;
        height: 30vh; 
        z-index: 2;

        animation: spin;
        transition-timing-function: ease-in-out;
        animation-duration: 20s;
        animation-iteration-count: infinite;

        transform: rotate(0deg);
    }
    @keyframes spin {
      0% {transform: rotate(0deg);}
      15% {transform: rotate(0deg);}
      25% {transform: rotate(-90deg);}
      35% {transform: rotate(-90deg);}
      50% {transform: rotate(-180deg);}
      60% {transform: rotate(-180deg);}
      70% {transform: rotate(-270deg);}
      90% {transform: rotate(-270deg);}
      100% {transform: rotate(-360deg);}
    }









@media screen and (max-width: 800px){

    /* FUNDRAISER */
        .logo {
            position: relative;
            width: calc(100vw - 40px);
            left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            height: auto;
        }
        .onlyDesktop {display: none;}
        .onlyMobile {display: inline;}

        .fundraiserVid {
            position: relative;
            margin-top: 50px;
            top: auto;
            left: 20px;
            width: calc(100vw - 40px);
            height: calc(100vh - 40px);
        }


    /*     "COVER"     */
        .covertitleFund {
            font: 40px Chalga;
            line-height: 45px;
            bottom: 10px;
            width: calc(100vw - 40px);
        }
        .textDescriptionBottom {
            position: relative;
            margin-top: 10% !important;
            padding-bottom: 20vh;
            margin-left: 25px;
        }
        .textDescription {
            margin-bottom: 40vh;
        }
        

}

