div {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@font-face {
    font-family: Chalga;
    src: url(Chalga/Chalga-Regular.otf);
}
@font-face {
    font-family: Sambo;
    src: url(Sambo-Regular.otf);
}
html {overflow-x: hidden; height: 100%; width: 100%;}
body {background-color: rgb(253,253,253); width: 100vw; overflow-x: hidden;}




/*     BASICS     */

    .absolute {position: absolute;}
    .fixed {position: fixed;}

    .text {font: 16px Chalga;}
    .italic {font-style: italic; font-size: 20px;}
    .pureitalic {font-style: italic;}

    .top {top: 20px !important; margin-top: 0% !important;}
    .left {left: 20px;}
    .right {right: 20px; text-align: right;}

    .center {width: calc(50vw - 40px); text-align: center; left: calc(25vw + 20px);}

    .top20 {top: 20vh;}
    .top50 {top: 50vh;}
    .bottom {bottom: 20px;}
    .bottom11 {bottom: 11vh;}
    .bottom15 {bottom: 15vh;}
    .bottom5020 {bottom: calc(80vh + 20px);}

    section {-webkit-overflow-scrolling: touch;}


    .Chalga {
        font: 20px Chalga;
        line-height: 27px;
        /*line-height: 29px;*/
    }

    .underline {border-bottom: 2px solid blue;}

/*
::-webkit-scrollbar {
  height: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
*/

/*     CLASSLIST     */

    a {
        color: blue;
        text-decoration: none;
    }
    a:hover {
        border-bottom: 2px solid blue;
    }

    a.covertitleFund:hover {
        text-decoration: none;
        /*border-top: 1px solid blue;*/
        border-bottom: 2px solid blue;
        margin-bottom: 20px;
    }

    .overviewButton:hover {
        font-family: Sambo;
        font-size: 25px;
        cursor: pointer;
    }
    .overviewButton-hide {
        z-index: 999999;
        display: none;
    }



    .usAll {
        position: relative;
        position: fixed;
        z-index: 9999;
        top: 20px;
        top: calc(30px + 27px + 20px);
        left: 20px;
        right: 20px;
        width: calc(100vw - 40px);
        height: calc(100vh - ((30px + 27px + 20px) * 2));
        /*border: 2px solid blue;*/

        align-content: stretch;
        display: flex;
        display: space-between;
        flex-flow: row wrap;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .hide {display: none;}
    .person {
        position: relative;
        display: inline-block;
        top: 0px;
        left: 0px;
        min-width: 200px;
        height: auto;

        flex: flex-grow;
        flex-grow: 2;
        flex-basis: auto;
        order: 1;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0px;
        padding: 0px;

        border: 2px solid rgba(0,0,0,0);
        cursor: pointer;
    }
    .person:hover {
        border: 2px solid blue;
    }
    .person-one {background-image: url(imgs/anastasiia/front.png);}
    .person-two {background-image: url(imgs/anna/front.jpg);}
    .person-three {background-image: url(imgs/berglind/pagessmaller.png);}
    .person-four {background-image: url(imgs/brechje/front.png);}
    .person-five {background-image: url(imgs/clara/1_Lezla.png);}
    .person-six {background-image: url(imgs/dana/1.png);}
    .person-seven {background-image: url(imgs/denise/1.png);}
    .person-eight {background-image: url(imgs/edward/Posters-min.jpg);}
    .person-nine {background-image: url(imgs/emily/);}
    .person-ten {background-image: url(imgs/fien/);}
    .person-eleven {background-image: url(imgs/golshan/1_Beginnings_without_endings.jpg);}
    .person-twelve {background-image: url(imgs/kihyeon/2_kihyeon.png);}
    .person-thirteen {background-image: url(imgs/kiki);}
    .person-fourteen {background-image: url(imgs/laura/1_laura.jpg);}
    .person-fifteen {background-image: url(imgs/linda/Screenshot-website-1.png);}
    .person-sixteen {background-image: url(imgs/louana);}
    .person-eighteen {background-image: url(imgs/maarten/front.jpg);}
    .person-nineteen {background-image: url(imgs/marc);}
    .person-twenty {background-image: url(imgs/martijn);}
    .person-twentyone {background-image: url(imgs/martin);}
    .person-twentytwo {background-image: url(imgs/ned/front.jpg);}
    .person-twentythree {background-image: url(imgs/nicolai/1_Nicolai.jpg);}
    .person-twentyfour {background-image: url(imgs/nicoletta/front.jpg);}
    .person-twentyfive {background-image: url(imgs/pepjin/);}
    .person-twentysix {background-image: url(imgs/ruben/);}
    .person-twentyseven {background-image: url(imgs/selina/);}
    .person-twentyeight {background-image: url(imgs/seojeong/front.jpg);}
    .person-twentynine {background-image: url(imgs/sofia/front.jpg);}
    .person-thirty {background-image: url(imgs/tilius/unnamed.jpg);}
    .person-thirtyone {background-image: url(imgs/trang/2_Trang.png);}




/* FUNDRAISER  */
     .introFund {
        position: absolute;
        top: 0vh;
        width: 100vw;
        left: 0vw;
        z-index: 3;
    }

    .textDescription {
        position: relative;
        margin-top: 100vh;
        width: 100vw;
        left: 0px;
        margin-bottom: 20%;
        text-align: left;

        font: 18px Chalga;
        /*line-height: 27px;*/
        line-height: 26px;
        text-align: center;

        -webkit-overflow-scrolling: touch;

        color: blue;
    }
    .imageOne:hover + .textOne, .imageTwo:hover + .textTwo {display: inline;}

    .textDescriptionTop {
        position: fixed;
        right: 20px; 
        top: 20px; 
        
        
        font: 18px Chalga;
        line-height: 27px;
        color: blue;
        z-index: 11;
    }
    .textDescriptionBottom {
        position: absolute;
        text-align: right;
        right: 20px; 
        bottom: calc(30px + 27px + 20px); 
        
        
        font: 18px Chalga;
        line-height: 27px;
        color: blue;
        z-index: 11;

        text-transform: lowercase;
    }
    .Sambo {
        font-family: Sambo;
        font-size: 25px;
    }
    
    .onlyDesktop {display: inline;}
    .onlyMobile {display: none;}


    .logo {
        position: fixed;
        top: calc(20px + 5vh);
        left: calc(20px + 5vw);
        /*height: 30vh; */
        width: calc(44vw - 40px);
        height: auto;
        z-index: 2;
        z-index: 11;

        animation: spin;
        transition-timing-function: ease-in-out;
        animation-duration: 20s;
        animation-iteration-count: infinite;

        transform: rotate(0deg);

        transition: 1s !important;
    }
    @keyframes spin {
      0% {transform: rotate(0deg);}
      15% {transform: rotate(0deg);}
      25% {transform: rotate(-90deg);}
      35% {transform: rotate(-90deg);}
      50% {transform: rotate(-180deg);}
      60% {transform: rotate(-180deg);}
      70% {transform: rotate(-270deg);}
      90% {transform: rotate(-270deg);}
      100% {transform: rotate(-360deg);}
    }

    .smaller {
        height: 30vh; 
        width: auto;

        bottom: calc(50vh - 15vh + 40px);
        top: auto;
        left: 20px;
    }

    .spin2 {
        transform: rotate(0deg);
        /*animation-play-state: paused;*/
        animation: none;
    }

    .spin3 {transform: rotate(-90deg);}
    .spin4 {transform: rotate(-180deg);}
    .spin5 {transform: rotate(-270deg);}
    .spin6 {transform: rotate(-360deg);}



    .name {
        text-transform: lowercase;
        /*font-family: Chalga;
        font-size: 18px;*/
        font-family: Sambo;
        font-size: 28px;
    }
    .name:hover {
        font-family: Sambo;
        font-size: 28px;
        cursor: pointer;
    }
    .imageblock {
        max-width: 35%;
        max-height: 35vw;
        margin-top: 30px;
    }
    .imageblock:hover {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
    }
    .shadow {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
    }
    .larger {
        font-family: Sambo;
        font-size: 28px;
    }
    
    .content {
        position: relative;
        min-height: 70vh;
        left: 0%;
        width: 100%;

        display: none;
    }

    .abstract {
        position: relative;
        padding-left: 22vw;
        padding-right: 22vw;
        width: 56vw !important;

        overflow-x: scroll;
    }

    .horizontalScroll {
        position: absolute;
        height: 70vh;
        top: 0%;
        width: 17vw;
        padding-left: 83vw;
        overflow-x: scroll;
        overflow-y: hidden;
        z-index: 2;

        display: flex;
    }


    .image {
        position: relative;
        display: inline-block;
        height: 100%;
        /*width: max-content;*/
        left: 0vw;
        top: 0%;
        padding-right: 20px;

        cursor: pointer;
    }
    .websitelink {
        background-color: blue;
        /*border: blue 2px solid;*/
        text-align: center;
        height: calc(100% - 4px);
        margin-right: 20px;
        border-radius: 20px;

    }
    .linkcircle {
        position: relative;
        /*border-radius: 50%;*/
        /*height: calc(100% - 404px);*/
        height: 100%;
        top: 40%;
        padding-left: 50px;
        padding-right: 50px;
        color: white;
    }
    .videoAnna {
        height: 70vh;
        width: calc(70vh / 0.5671875);
    }

    .blueBanner {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: calc(30px + 27px);
        background: blue;
        z-index: 9999999;
        cursor: pointer;

        transition: 0.5s !important;
    }
    .textInBannerLeft {
        position: relative;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        color: white !important;
    }
    .textInBannerLeft a {color: white !important;}
    .textInBannerCenter {
        position: absolute;
        top: 15px;
        right: 0px;
        left: 0px;
        float: center;
        text-align: center;
        color: white !important;
    }
    .textInBannerCenterClose {
        position: fixed;
        top: 15px;
        right: 0px;
        left: 0px;
        float: center;
        text-align: center;
        color: white !important;
        z-index: 9999999999999;
        display: none;
        cursor: pointer;
    }
    .textInBannerRight {
        position: absolute;
        top: 15px;
        right: 15px;
        margin-bottom: 15px;
        float: right;
        color: white !important;
    }
    .fullscreen {height: 100%; cursor: auto;}
    .blueScreenOpen {display: none; color: white;}



@media screen and (max-width: 800px){

    /* FUNDRAISER */
        .logo {
            position: relative;
            width: calc(100vw - 40px);
            left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            height: auto;
        }
        .onlyDesktop {display: none;}
        .onlyMobile {display: inline;}

        .fundraiserVid {
            position: relative;
            margin-top: 50px;
            top: auto;
            left: 20px;
            width: calc(100vw - 40px);
            height: calc(100vh - 40px);
        }


    /*     "COVER"     */
        .covertitleFund {
            font: 40px Chalga;
            line-height: 45px;
            bottom: 10px;
            width: calc(100vw - 40px);
        }
        /*.textDescriptionBottom {
            position: relative;
            margin-top: 10% !important;
            padding-bottom: 20vh;
            margin-left: 25px;
        }*/
        .textDescription {
            margin-bottom: 40vh;
        }
        

}

